<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Signup Date</th>
          <th>Payee</th>
          <th>Email Address</th>
          <th>Phone</th>
          <th>Username</th>
          <th>Transaction ID</td>
          <th>Amount</th>
          <th>Event</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each attendees}}
        <tr>
          <td>{{formatDate createdAt 'short'}}</td>
          <td>{{firstname}} {{lastname}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{username}}</td>
          <td>{{payment.transaction.id}}</td>
          <td>$ {{ formatCurrency payment.transaction.amount 100 2}}</td>
          <td>
            {{#each cart}}
              <a href="/event/list/{{id}}">{{name}}</a>
            {{/each}}
          </td>
          <td>
          {{#if emailSent }}
          <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#resend-email-{{id}}"><i class="fa fa-envelope fa-sm"></i> Resend</button>
          {{else}}
          <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#resend-email-{{id}}"><i class="fa fa-envelope fa-sm"></i> Resend</button>
          {{/if}}
          {{#if payment.transaction.paid }}
          <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#details-{{id}}"><i class="fa fa-usd fa-lg"></i> Details</button>
          {{else}}
          <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#details-{{id}}"><i class="fa fa-usd fa-lg"></i> Details</button>
          {{/if}}

          <div class="modal fade" id="resend-email-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          Resend Event Confirmation For {{email}}
                      </div>
                      <div class="modal-body">
                          Are you sure you want to resend the email for {{email}}?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal fade" id="details-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          Viewing Details For Transaction {{payment.transaction.id}}
                      </div>
                      <div class="modal-body">
                          <pre class="transactionDetails">{{toJson payment}}</pre>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                      </div>
                  </div>
              </div>
          </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
